<h2>Подтверждение заказа</h2>
<div class="conf-row">
 <!-- <h5 class="choice-delivery"
      *ngIf="(cart | async).paymentOptionId === undefined">Выберите способ оплаты заказа...</h5>
  <h5 class="choice-delivery"
      *ngIf="(cart | async).paymentOptionId !== undefined">Способ оплыт выбран.</h5>-->
  <button class="choice-confirmation"
          (click)="confirmedCart()">Оформить заказ</button><!--routerLink="/confirmed"-->
  <!-- <button type="button"
           class="empty-cart"
           (click)="emptyCart()"
           [attr.disabled]="itemCount === 0 ? true : null">Очистить корзину</button>-->
</div>
<h3>Позиции заказа</h3>
<p>1. Кассатка 7</p>
<p>2. Сканер штрих кодов</p>
<h4>Всего позиции 2, стоимость 36000 руб.</h4>
<h3>Самовывоз</h3>
<p>Внимание! Окончательная стоимость и состав заказа, если в нем присутствуют товары и/или услуги, участвующие в акции, будет подтверждена после обработки заказа.</p>
<h3>Опции заказа</h3>
<label for="sms">Прислать SMS с номером заказа на этот номер</label>
<input id="sms" type="checkbox">
<h3>Оператор Call-центра свяжется с вами для уточнения стоимости, состава и деталей заказа.</h3>
<label for="call">Отказаться от звонка оператора Call-центра</label>
<input id="call" type="checkbox">
<h3>Комментарии к заказу</h3>
<label for="text">Дополнительные пожелания</label>
<textarea id="text" rows="10" cols="70" [(ngModel)]="text" name="text"></textarea>
<h3>Вы выбрали способ получения товара - «самовывоз».
  После нажатия на кнопку «Оформить заказ», товар автоматически зарезервируется и будет готов к получению 11 мая после 18:00</h3>
<br>
<button class="choice-confirmation"
        (click)="confirmedCart()">Оформить заказ</button>
