<h1>Контрольно-кассовая техника</h1>
<p>
  Контрольно-кассовая техника (ККТ) — неотъемлемый атрибут любого магазина: без нее не будет функционировать касса, а торговля будет парализована. Эти устройства, которые раньше именовались как «фискальные регистраторы», предназначены для регистрации процесса продажи товара и печати кассового чека. Они управляются при помощи персональных компьютеров, которые передают в ККТ необходимые команды.
</p>
<p>Всё необходимое в одном корпусе: надежный промышленный планшет, фискальный накопитель, принтер чеков, модем, сканер
  и считыватель пластиковых карт. Соответствует 54-ФЗ и работает со всеми зарегистрированными операторами фискальных данных.”</p>
<div id="kassatka-7" class="media" itemscope itemtype="http://schema.org/Product">
  <div class="img">
    <img itemprop="image" src="./assets/img/kassatka-7x2.png" alt="Кассатка 7">
  </div>
  <a routerLink="kassatka-7">
    <h2 class="title"><span itemprop="name">Кассатка 7</span></h2>
  </a>
  <div class="content">
    <p>Все уже внутри!</p>
    <ul>
      <li>
        Полностью соответсвует 54–ФЗ
      </li>
      <li>
        Встроенный WI-FI модуль и GSM модем для стабильного соединения
      </li>
      <li>
        Подключение к любому ОФД
      </li>
      <li>
        Встроенная товаро-учетная система
        Складской учёт, перемещение товара, остатки, приход, расход, отчёты
      </li>
      <li>
        Неограниченное добавление номенклатуры, загрузка из Excell и C1
      </li>
      <li>
        Гибкая система скидок.
      </li>
      <li>
        Автоматический обмен данными с 1С.
      </li>
      <li>Личный кабинет для удаленного управления и мониторинга бизнеса онлайн.</li>
      <li>Встроенное ПО для работы с ЕГАИС. Вам понадобится только электронный ключ.</li>
      <li><a routerLink="kassatka-7">Подробнее...</a></li>
    </ul>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="RUB" />
      Цена: <span itemprop="price" content="18500.00">18500.00</span> руб.
      <span itemprop="seller">Кассар</span>
      <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
      <link itemprop="availability" href="https://schema.org/InStock">
    </div>
  </div>
  <div itemprop="description" class="media-footer">
    Касса широких возможностей для малого бизнеса. Полностью соответсвует 54–ФЗ.
  </div>
</div>
<div id="kassatka-mini" class="media">
  <div class="img">
    <img src="./assets/img/kassatka-mini-3.png" alt="Кассатка mini">
  </div>
  <a routerLink="kassatka-mini">
    <h2 class="title">Кассатка mini</h2>
  </a>
  <div class="content">
    <p>Все уже внутри!</p>
    <ul>
      <li>
        Полностью соответсвует 54–ФЗ
      </li>
      <li>
        Встроенный банковский терминал
      </li>
      <li>
        Встроенный WI-FI модуль и GSM модем для стабильного соединения
      </li>
      <li>
        Подключение к любому ОФД
      </li>
      <li>
        Встроенная товаро-учетная система
        Складской учёт, перемещение товара, остатки, приход, расход, отчёты
      </li>
      <li>
        Неограниченное добавление номенклатуры, загрузка из Excell и C1
      </li>
      <li>
        Гибкая система скидок.
      </li>
      <li>
        Автоматический обмен данными с 1С.
      </li>
      <li>Личный кабинет для удаленного управления и мониторинга бизнеса онлайн.</li>
      <li>Встроенное ПО для работы с ЕГАИС. Вам понадобится только электронный ключ.</li>
      <li><a routerLink="kassatka-mini">Подробнее...</a></li>
    </ul>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="RUB" />
      Цена: <span itemprop="price" content="21500.00">21500.00</span> руб.
      <span itemprop="seller">Кассар</span>
      <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
      <link itemprop="availability" href="https://schema.org/InStock">
    </div>
  </div>
  <div class="media-footer">
    Мобильная касса для курьерской службы.
  </div>
</div>
<div  id="kassatka-10" class="media">
  <div class="img">
    <img src="./assets/img/kassatka-10.png" alt="Кассатка 10">
  </div>
  <a routerLink="kassatka-10">
    <h2 class="title">Кассатка 10</h2>
  </a>
  <div class="content">
    <p>Все уже внутри!</p>
    <ul>
      <li>
        Полностью соответсвует 54–ФЗ
      </li>
      <li>
        Встроенный WI-FI модуль и GSM модем для стабильного соединения
      </li>
      <li>
        Подключение к любому ОФД
      </li>
      <li>
        Встроенная товаро-учетная система
        Складской учёт, перемещение товара, остатки, приход, расход, отчёты
      </li>
      <li>
        Неограниченное добавление номенклатуры, загрузка из Excell и C1
      </li>
      <li>
        Гибкая система скидок.
      </li>
      <li>
        Автоматический обмен данными с 1С.
      </li>
      <li>Личный кабинет для удаленного управления и мониторинга бизнеса онлайн.</li>
      <li>Встроенное ПО для работы с ЕГАИС. Вам понадобится только электронный ключ.</li>
      <li><a routerLink="kassatka-10">Подробнее...</a></li>
    </ul>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="RUB" />
      Цена: <span itemprop="price" content="25500.00">25500.00</span> руб.
      <span itemprop="seller">Кассар</span>
      <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
      <link itemprop="availability" href="https://schema.org/InStock">
    </div>
  </div>
  <div class="media-footer">
    Удобная касса для среднего бизнеса, кафе и ресторанов.
  </div>
</div>
