<div class="img">
  <img src="./assets/onlinekassa2-1024x512.png" alt="Кассатка 7"/>
  <h2>
    <span>
      Онлайн кассы -
      <!--<span class="spacer"></span> -->
      <br />
      <!--<span class="spacer"></span>-->
      это очень удобно
    </span>
  </h2>
</div>
<h1>Предложение онлайн касс для всех</h1>
<p>ООО "Кассар" предлагает продажу, установку и обслуживание контрольно-кассовой техники (ККТ) всем желающим в Москве и Подмосковье.
Наши высококвалифицированные сотрудники проведут исследование, составят предложение по оптимальному подключения онлайн касс в вашем магазине,
  компании или на рынке, а также оснастят всем необходимым вашего курьера.
</p>
  <h2>Новости</h2>
  <p>27.04.2018</p>
  <h3>Запущен сайт компании.</h3>
  <p>Нами запущен новый сайт компании. На сайте представлены бренды Кассатка и прочие. Сайт будет наполняться по мере развития компании. Следите за обновлениями!</p>
