<div class="img">
  <img src="./assets/onlinekassa2-1024x512.png" alt="Кассатка 7"/>
  <h2>
    <span>
      Онлайн кассы -
      <!--<span class="spacer"></span> -->
      <br/>
      <!--<span class="spacer"></span>-->
      это очень удобно
    </span>
  </h2>
</div>
<h1>Предложение онлайн касс для всех</h1>
<p>
  ООО "Кассар" предлагает продажу, установку и обслуживание контрольно-кассовой техники (ККТ) всем желающим в Москве и
  Подмосковье.
  Наши высококвалифицированные сотрудники проведут обследование, составят предложение по оптимальному подключения онлайн
  касс в вашем магазине,
  компании или на рынке и в прочих местах, а также оснастят всем необходимым для приема платежей онлайн вашего курьера.
</p>
<p>

</p>

<app-home-news></app-home-news>
