<h1 class="title">Кассатка 10</h1>
<div  id="kassatka-10" class="media">
  <div class="img">
    <img src="./assets/img/kassatka-10.png" alt="Кассатка 10">
  </div>
  <h2 class="title">Кассатка 10</h2>
  <div class="content">
    <p>Все уже внутри!</p>
    <ul>
      <li>
        Полностью соответсвует 54–ФЗ
      </li>
      <li>
        Встроенный WI-FI модуль и GSM модем для стабильного соединения
      </li>
      <li>
        Подключение к любому ОФД
      </li>
      <li>
        Встроенная товаро-учетная система
        Складской учёт, перемещение товара, остатки, приход, расход, отчёты
      </li>
      <li>
        Неограниченное добавление номенклатуры, загрузка из Excell и C1
      </li>
      <li>
        Гибкая система скидок.
      </li>
      <li>
        Автоматический обмен данными с 1С.
      </li>
      <li>Личный кабинет для удаленного управления и мониторинга бизнеса онлайн.</li>
      <li>Встроенное ПО для работы с ЕГАИС. Вам понадобится только электронный ключ.</li>
    </ul>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="RUB" />
      Цена: <span itemprop="price" content="18500.00">18500.00</span> руб.
      <span itemprop="seller">Кассар</span>
      <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
      <link itemprop="availability" href="https://schema.org/InStock">
    </div>
  </div>
  <div class="media-footer">
    Удобная касса для среднего бизнеса, кафе и ресторанов.
  </div>
</div>
