<div itemscope itemtype="http://schema.org/Organization">
  <h1 class="title">Контакты</h1>
  <p>ООО "<span itemprop="name">Кассар</span>"</p>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <p><span itemprop="postalCode">107031</span>,
      г.<span itemprop="addressLocality">Москва</span>,
      <span itemprop="streetAddress"> Театральный проезд, д.3, с.4</span></p>
  </div>
  <p class="main-contact-info">Тел.: <span itemprop="telephone"><a href="tel:+74994081130"> +7 499 4081130</a></span>
  </p>
  <p class="main-contact-info">email: <span itemprop="email"><a href="mailto:info@kassar.ru"> info@kassar.ru</a></span>
  </p>
</div>
<h3>Карта проезда</h3>
<div #gmap style="width:100%;height:400px"></div>

