<h1 class="title"><span itemprop="name">Кассатка 7</span></h1>
<div id="kassatka-7" class="media" itemscope itemtype="http://schema.org/Product">
  <div class="img">
    <img itemprop="image" src="./assets/img/kassatka-7x2.png" alt="Кассатка 7">
  </div>
  <h2 class="title">Кассатка 7 - выгодная покупка</h2>
  <div class="content">
    <p>Все уже внутри!</p>
    <ul>
      <li>
        Полностью соответсвует 54–ФЗ
      </li>
      <li>
        Встроенный WI-FI модуль и GSM модем для стабильного соединения
      </li>
      <li>
        Подключение к любому ОФД
      </li>
      <li>
        Встроенная товаро-учетная система
        Складской учёт, перемещение товара, остатки, приход, расход, отчёты
      </li>
      <li>
        Неограниченное добавление номенклатуры, загрузка из Excell и C1
      </li>
      <li>
        Гибкая система скидок.
      </li>
      <li>
        Автоматический обмен данными с 1С.
      </li>
      <li>Личный кабинет для удаленного управления и мониторинга бизнеса онлайн.</li>
      <li>Встроенное ПО для работы с ЕГАИС. Вам понадобится только электронный ключ.</li>
    </ul>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="RUB" />
      Цена: <span itemprop="price" content="18500.00">18500.00</span> руб.
      <span itemprop="seller">Кассар</span>
      <link itemprop="itemCondition" href="http://schema.org/NewCondition" />
      <link itemprop="availability" href="https://schema.org/InStock">
    </div>
  </div>
  <div itemprop="description" class="footer">
    Касса широких возможностей для малого бизнеса. Полностью соответсвует 54–ФЗ.
  </div>
</div>
<h2>Дополнительные опции</h2>
<div class="terminal">
  <div class="terminal0">

    <h3>Банковский терминал</h3>

  </div>
  <div class="terminal1">
    <div class="img">
      <img src="./assets/img/pos300x639.png">
    </div>
  </div>
  <div class="terminal2">
    <p>Удобный банковский терминал с возможностью приема любых банковских карт</p>
    <ul>
      <li>
        <i aria-hidden="true" class="fa fa-chevron-right"></i>
        <span>Принимает магнитные карты</span>
      </li>
      <li>
        <i aria-hidden="true" class="fa fa-chevron-right"></i>
        <span>Карты с бесконтактной оплатой</span>
      </li>
      <li>
        <i aria-hidden="true" class="fa fa-chevron-right"></i>
        <span>Мобильные способы оплаты:</span>
        <span >Apple Pay, Android Pay, Samsung pay</span>
      </li>
      <li >
        <i aria-hidden="true" class="fa fa-chevron-right"></i>
        <span>Карты с встроенным чипом</span>
      </li>
    </ul>
  </div>
  <div class="terminal3">
    <p>Имеет все необходимые сертификаты PCI, ISO, PayWave и PayPass</p>
  </div>
</div>
