<h1>Каталог оборудования</h1>
<p>Мы предлагаем широкий спектр <b>контрольно-кассовой техники</b>> (ККТ) различных производителей. Основными позициями являются
  онлайн кассы компании Кампей <b>Кассатка</b>. Данные онлайн кассы работают на опрационной системе Android и обладают удобным
  функционалом, надежностью, удобством в работе и своевременными обновлениями программного обеспечения.
</p>
<div>
  <a routerLink="kontrolno-kassovaya-tekhnika">Контрольно-кассовая техника</a>
</div>
<div>
  <a routerLink="skanery-shtrikh-kodov">Сканеры</a>
</div>
<div>
  <a routerLink="other">Прочее</a>
</div>
