<h2>Выбор способа оплаты заказа</h2>
<div class="conf-row">
  <h5 class="choice-delivery danger"
      *ngIf="(cart | async).paymentOptionId === undefined">Выберите способ оплаты заказа...</h5>
  <h5 class="choice-delivery success"
      *ngIf="(cart | async).paymentOptionId !== undefined">Способ оплаты выбран.</h5>
  <button class="choice-confirmation"
          [attr.disabled]="(cart | async).paymentOptionId !== undefined ? null : true"
          (click)="confirmedCart()">Подтвердить</button>
</div>
<hr/>
<div class="option"
     *ngFor="let option of paymentOptions | async">
  <div class="radio-div">
    <input type="radio"
           name="delivery_option"
           id="{{option.name}}"
           [checked]="option.id === (cart | async).paymentOptionId"
           (click)="setPaymentOption(option)">
  </div>
  <div class="label-div">
    <label class="js-option-name" for="{{option.name}}" (click)="setPaymentOption(option)">{{option.name}}</label>
  </div>
  <div class="price-div">
    {{option.price}}<span>%</span>
  </div>
  <div class="description-div">
    {{option.description}}
  </div>
</div>
<hr>
<br>
<button class="choice-confirmation"
        [attr.disabled]="(cart | async).paymentOptionId !== undefined ? null : true"
        (click)="confirmedCart()">Подтвердить</button>
