<div class="">
  <h2>Дополнительные сервисы и услуги</h2>
  <div class="conf-row">
    <h5 class="choice-delivery danger"
        *ngIf="(cart | async).additionalOptionId === undefined">Выберите дополнительные опции заказа...</h5>
    <h5 class="choice-delivery success"
        *ngIf="(cart | async).additionalOptionId !== undefined">Дополнительные опции выбраны.</h5>
    <button class="choice-confirmation"
            [attr.disabled]="(cart | async).additionalOptionId !== undefined ? null : true"
            (click)="confirmedCart()">Продолжить</button><!--routerLink="/confirmed"-->
   <!-- <button type="button"
            class="empty-cart"
            (click)="emptyCart()"
            [attr.disabled]="itemCount === 0 ? true : null">Очистить корзину</button>-->
  </div>
  <hr>
  <div class="table">
    <div class="option" *ngFor="let option of additionalOptions | async">
      <!-- <div class="table-row">-->
       <div class="radio-div">
          <input type="radio"
                 name="delivery_option"
                 id="{{option.name}}"
                 [checked]="option.id === (cart | async).additionalOptionId"
                 (click)="setAdditionalOption(option)">
        </div>
        <div class="label-div">
          <label class="js-option-name" for="{{option.name}}" (click)="setAdditionalOption(option)">{{option.name}}</label>
        </div>
        <div class="price-div">
          {{option.price | currency:'RUB':'symbol'}}
        </div>
    <!--  </div>-->
      <div class="description-div">
       {{option.description}}
      </div>
    </div>
  </div>
  <hr/>
  <br>
  <button class="choice-confirmation"
          [attr.disabled]="(cart | async).additionalOptionId !== undefined ? null : true"
          (click)="confirmedCart()">Продолжить</button>
  <br>
</div>
