<div class="article">
  <h1>Как перейти на онлайн-кассы: пошаговый алгоритм</h1>
  <p>
    Реформа 54-ФЗ состоялась. У вас есть небольшой период, чтобы подготовиться к переходу на новые правила применения ККТ.
    Первые шаги в этом направлении стоит сделать уже сейчас. Для начала нужно выбрать ОФД и запланировать модернизацию
    техники. Рассмотрим весь процесс перехода на онлайн-кассы по порядку.
  </p>
  <p>
    Согласно Федеральному закону № 54-ФЗ от 22.05.2003 в ред. от 03.07.2016 у контрольно-кассовой техники (ККТ)
    расширяется набор функций. Кассы будут передавать сведения обо всех расчетах в ФНС по интернету через операторов
    фискальных данных (ОФД).
  </p>
  <p>
    Кассы «научатся» печатать расширенный перечень обязательных реквизитов в чеке. Среди них — наименование товаров, услуг
    и выполненных работ, система налогообложения, которая используется при расчете, ставка НДС. Помимо печати бумажного
    чека, кассы смогут направлять клиенту электронный чек на e-mail или в SMS-сообщении.
  </p>
  <p>
    Отправить электронный чек кассир обязан, если покупатель предоставит свои контактные данные. На фискальном документе
    будет печататься QR-код, после считывания которого смартфоном покупатель сможет проверить корректность отбитого чека.

    Все вышеперечисленное обязаны выполнять кассы, которые будут зарегистрированы и перерегистрированы с 1 февраля 2017
    года. А уже с 1 июля 2017 года эти изменения коснутся абсолютно всей ККТ, с помощью которой будут осуществляться
    расчеты.
  </p>
  <h3>Как подготовиться к новым требованиям</h3>
  <p>
    До 1 февраля 2017 года для организаций, применяющих ККТ, действует добровольный период, когда они могут по своему
    желанию выполнить требования 54-ФЗ. Используйте это время, чтобы основательно подготовиться к изменениям до
    наступления ответственности за непередачу данных в ФНС через интернет.
  </p>
  <p>
    Чтобы избежать ажиотажа и успеть воспользоваться более выгодными предложениями от ОФД и сэкономить на обслуживании
    ККТ, рекомендуем уже сейчас определить, сколько касс вам предстоит снимать с учета, чем заменить их на время
    модернизации, и запланировать посещение инспекции.
  </p>
  <p>
    Вы можете выбрать оператора фискальных данных и оговорить с ним условия заключения договора. Таким образом вы сделаете
    первый из обязательных шагов для перехода на онлайн-кассы и сможете сконцентрироваться на других действиях. Так вы
    избежите ажиотажа, когда подключаться к ОФД начнут организации, чьи кассы подлежат регистрации или перерегистрации с 1
    февраля 2017 года, успеете воспользоваться более выгодными предложениями от ОФД и сэкономите на обслуживании ККТ.
  </p>
  <p>
    Позднее, как только фискальные накопители и комплекты модернизации для большинства касс появятся в продаже, вы сможете
    обновить кассовую технику и оценить, нужно ли что-то доработать в инфраструктуре вашей компании. Если к тому моменту у
    вас уже будет заключен договор с ОФД, вы сможете сразу же зарегистрировать ККТ через интернет и начать передавать
    данные в ФНС.
  </p>
  <h2>Пошаговый алгоритм перехода на онлайн-кассы</h2>
  <h3>Заключение договора с ОФД</h3>
  <p>
    Обязательным участником электронного взаимодействия между кассами и ФНС становится оператор фискальных данных. Он
    будет принимать, обрабатывать, хранить и передавать в ведомство информацию о расчетах, обеспечивать ее
    конфиденциальность и безопасность. Согласно 54-ФЗ все ОФД должны гарантированно работать с любыми моделями кассовой
    техники, а также соответствовать единым требованиям: иметь лицензии ФСТЭК и Роскомнадзора, обладать необходимой
    технической инфраструктурой и т.д.
  </p>
  <h4>Выбор ОФД</h4>
  <p>
    При выборе ОФД стоит ориентироваться на то, какие возможности будут входить в стоимость обслуживания по договору.
    Будет ли это только обязательный функционал или вы сможете воспользоваться дополнительными преимуществами за те же
    деньги. Например, проводить регистрацию, перерегистрацию и снимать с учета кассы в режиме онлайн. А также иметь доступ
    ко всем фискальным данным компании, анализировать их в нужном разрезе (за период времени, по торговым точкам, кассирам
    и т.д.), сравнивать показатели, выгружать xls-таблицы и строить наглядные графики.
  </p>
  <p>
    Стоит обратить внимание и на то, какой опыт за спиной у конкретного оператора. Хорошо, когда ОФД одновременно является
    оператором электронного документооборота. Это значит, что у него уже есть проверенная техническая база, чтобы
    бесперебойно обрабатывать большой объем данных, а также налажен диалог с контролирующими органами, наконец, есть
    понимание, какие трудности могут возникнуть у клиента и как их решать.
  </p>
  <p>
    Большим плюсом станет круглосуточная техническая поддержка. Это особенно важно в начале использования онлайн-касс,
    когда в любое время может возникнуть вопрос по передаче сведений и необходимо будет уточнить требования
    законодательства. Читайте подробнее о том, по каким параметрам нужно выбирать ОФД.
  </p>
  <h4>Подключение к ОФД</h4>
  <p>
    Чтобы подключиться к выбранному оператору, проще всего оставить заявку на сайте ОФД, например здесь. После этого с
    вами свяжется менеджер, чтобы заключить стандартный лицензионный договор. Также организация может просто
    присоединиться к договору-оферте, опубликованному на сайте оператора.
  </p>
  <p>
    В дальнейшем сведения об ОФД, с которым вы начали сотрудничество, нужно будет прописать в настройках кассы и указать
    при ее регистрации. Стоит отметить, что после подключения онлайн-кассы вам не придется совершать каких-либо действий
    для передачи фискальных данных. Это будет происходить автоматически.
  </p>
  <h3>Обновление кассы</h3>
  <p>
    Часть кассовой техники, которая используется сейчас, можно будет модернизировать с учетом требований 54-ФЗ. Информация
    о том, какие именно модели подлежат доработке, публикуется на сайтах производителей, а также на нашем портале.
    Посмотрите, есть ли модель вашей кассы в этом списке.
  </p>
  <ul>
    <li>
      Если у вас модернизируемая касса, переходите к шагу 2.1.
    </li>
    <li>
      Если вашу кассу нельзя обновить, придется заменить ее на другую. При выборе новой ККТ проверьте на сайте ФНС,
      внесена ли она в Реестр контрольно-кассовой техники. После приобретения новой техники переходите сразу к шагам 2.3 и
      3.
    </li>
  </ul>
  <h4>Снятие с учета</h4>
  <p>
    Старую кассу нужно снять с учета. Для этого вам нужно будет заполнить заявление на бумаге и посетить инспекцию. Все
    остальные процедуры с ККТ можно будет осуществлять в онлайн-режиме: на сайте ФНС или в личном кабинете на сайте ОФД,
    если ваш оператор предоставит такую услугу. Старый регламент тоже будет действовать, ведь кассы применяются и в
    местностях, отдаленных от сетей связи.
  </p>
  <p>
    Рекомендуем уже к ноябрю определить, сколько касс вам предстоит снимать с учета, чем заменить их на время
    модернизации, и запланировать посещение инспекции. С приближением срока обязательного перехода на онлайн-кассы в ИФНС
    будет все больше желающих снять с учета ККТ.
  </p>
  <h4>Модернизация</h4>
  <p>
    Чтобы касса соответствовала новым требованиям, на нее устанавливается комплект модернизации, а ЭКЛЗ меняется на
    фискальный накопитель (ФН). ФН будет собирать данные обо всех операциях на кассе, а также шифровать их и формировать
    сообщения для ОФД. Малому бизнесу нужно будет менять ФН каждые 36 месяцев, а всем остальным — ежегодно.
  </p>
  <p>
    Комплект модернизации может включать как изменения аппаратной части, так и обновление прошивки кассового ПО. Например,
    кассам необходимы специальные разъемы для подключения к интернету, а также ПО для корректной работы с ФН и передачи
    сведений ОФД.
  </p>
  <p>
    Для модернизации ККТ лучше обратиться в центр технического обслуживания, специалисты которого прошли необходимое
    обучение.
  </p>
  <h4>Учет расходов</h4>
  <p>
    Расходы на новую кассу компании на ОСНО смогут списать, а организации на УСН должны учесть их как материальные расходы
    (пп. 5 п. 1 ст. 346.16, пп. 3 п. 1 ст. 254 НК РФ). Для предпринимателей на ПСН и ЕНВД, которые будут обязаны
    использовать ККТ с 2018 года, планируется налоговый вычет на покупку новой кассы. Разработкой законопроекта о вычете
    занимается Минфин.
  </p>
  <h3>Подключение к интернету</h3>
  <p>В 54-ФЗ не установлен способ подключения кассы к интернету. Поэтому в зависимости от ваших предпочтений и модели ККТ
    вы можете выбрать подключение по кабелю, 3G, wi-fi или мобильному интернету.</p>
  <h3>Регистрация новой или обновленной ККТ</h3>
  <p>В соответствии с 54-ФЗ зарегистрировать ККТ можно через интернет без посещения ФНС. Для этого заполните необходимые
    документы на сайте ФНС или в личном кабинете на сайте ОФД, подпишите их сертификатом электронной подписи и отправьте в
    ФНС. Ведомство проверит полученные сведения, присвоит кассе регистрационный номер и вышлет его вам. Вы внесете номер в
    фискальный накопитель, сформируете отчет о фискализации и передадите его параметры в налоговую. ФНС проверит
    корректность работы ФН и пришлет в ответ электронную регистрационную карточку. После этого касса считается
    зарегистрированной и готова к работе! </p>
</div>

