input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type=radio] {
  bottom: 2px;
}

.checkout-row {
  .product-img-div {
    max-width: 70%;
  }
}

@media screen and (min-width: 754px) {
  .checkout-row {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 150px 1fr auto auto;
    .product-img-div {
      //display: table-cell;
      .product_image {
        max-width: 150px;
      }
    }
    .product {
      //display: table-cell;
      //vertical-align: top;
      //width:400px;
      padding: 0 10px;
      .product-name {
        font-style: italic;
      }
    }
    .product-costs-div {
      //display: table-cell;
      // vertical-align: top;
      padding: 0 10px;
      //margin-top: 0;
      color: #8d0000;
    }

    .product-total-div {
      //display: table-cell;
      //vertical-align: top;
      padding: 0 10px;
      color: #8d0000;
    }
    /*.choice-delivery {
      color: #b12704;
    }*/
    .conf-row {
      margin: 15px 0;
    }
  }
}



.choice-delivery {

}

.danger {
  color: #b12704;
}

.success {
  color: #5d8b00;
}



button[disabled]{
  opacity: .25;
  cursor: not-allowed;
}

.choice-confirmation {
  border-radius: 4px;
  background-color: #5d8b00;
  padding: 0.5rem 1.5rem;
  color: #fff;
  cursor: pointer;
}
.choice-confirmation:hover{
  background-color: #22bb5b;
}

.empty-cart {
  padding: 0.5rem 1.5rem;
  background-color: #767676;
  color: #fefefe;
  cursor: pointer;
  border-radius: 4px;
  //display: block;
  /*width: 100%;
  margin-right: 0;
  margin-left: 0;*/
}
.empty-cart:hover{
  background-color: #5e5e5e;
  color: #fefefe;
}

.continue-shopping {
  background-color: #ffae00;

  color: #0a0a0a;
  border-radius: 4px;
  vertical-align: bottom;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-size: .9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  padding: .85em 1em;
}
.continue-shopping:hover {
  background-color: #cc8b00;
}
.small{
  width: 83.33333%;
  //margin-right: auto;
  //margin-left: auto;
}
