<div class="catalog">
  <div routerLink="kontrolno-kassovaya-tekhnika" class="catalog-module">
    <div class="catalog-header">Контрольно-кассововая техника</div>
    <div class="catalog-body">
      <div class="catalog-img">
        <img src="/assets/img/catalog/kassa.png">
      </div>
    </div>
    <div class="catalog-footer">Онлайн кассы и принадлежности</div>
  </div>
  <div routerLink="skanery-shtrikh-kodov" class="catalog-module">
    <div class="catalog-header">Сканеры штрих кодов</div>
    <div class="catalog-body">
      <div class="catalog-img">
        <img src="/assets/img/catalog/scanner2D.png">
      </div>
    </div>
    <div class="catalog-footer">Сканеры для штрихкодов</div>
  </div>
  <div routerLink="other" class="catalog-module">
    <div class="catalog-header">Прочее</div>
    <div class="catalog-body">
      <div class="catalog-img">
        <img src="/assets/img/catalog/moneybox.png">
      </div>
    </div>
    <div class="catalog-footer">Товары не вошедшие в категории</div>
  </div>
</div>
