<h1>Прайслист на услуги</h1>
  <table>
    <thead>
    <tr>
      <th>Наименование</th>
      <th>Стоимость</th>
    </tr>
    </thead>
    <tr>
      <td>Настройка</td>
      <td>1000 руб</td>
    </tr>
    <tr>
      <td>Регистрация ФН (фискальный накопитель)</td>
      <td>3000 руб</td>
    </tr>
    <tr>
      <td>Техническое обслуживание</td>
      <td>2000 руб</td>
    </tr>
    <tr>
      <td>Получение ЭЦП (электронная цифровая подпись)</td>
      <td>2000 руб</td>
    </tr>
    <tr>
      <td>Программирование номенклатуры</td>
      <td>1000 руб</td>
    </tr>
  </table>
