<h1>Сервисные услуги по обслуживанию онлайн касс</h1>
<p></p>
  <ul>
    <li>Подключение эквайринга.</li>
    <li>Программирование номенклатуры контрольно-кассовой техники (ККТ).</li>
    <li>Обучение работе на ККТ.</li>
    <li>Подключение к оператору фискальных данных (ОФД).</li>
    <li>Электронная подпись.</li>
    <li>Регистрация в Инспекции Федеральной налоговой службы (ИФНС).</li>
    <li>Выезд сервисного инженера (1 час работы).</li>
    <li>Удаленная работа сервисного инженера (1 час работы).</li>
    <li>Снятие ККТ с учета в налоговой инспекции.</li>
    <li>Перерегистрация ККТ.</li>
    <li>Информационно-техническое сопровождение ККТ с выездом специалиста (3 месяца).</li>
    <li>Информационно-техническое сопровождение ККТ с выездом специалиста (12 месяцев).</li>
    <li>Удаленное техническое сопровождение (12 месяцев).</li>
  </ul>














