.add-to-cart {
  background-color: #5d8b00;
  padding: 0.5rem 1.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.add-to-cart:hover {
  background-color: #22bb5b;
}
.remove-from-cart {
  // line-height: 1;
  //text-align: center;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
  border-radius: 4px;
  //transition: background-color .25s ease-out,color .25s ease-out;
  //border: 1px solid transparent;
  //display: inline-block;
  // margin: 0 0 1rem;
  //padding: .85em 1em;
}
.remove-from-cart:hover {
  background-color: #14679e;
  color: #fefefe;
}

