<div class="row">
  <div class="">
    <app-shopping-cart [category]="category"></app-shopping-cart>
    <h3>Выберите товары...</h3>
    <div class="product-list">
      <div *ngFor="let product of (products | async)"
           class="product-container">

        <div id="kassatka-7" class="media" itemscope itemtype="http://schema.org/Product">
          <div class="img">
            <a [routerLink]="product.url"><img itemprop="image" src="./assets/img/{{product.img}}" alt="{{product.name}}"></a>
          </div>
          <a [routerLink]="product.url"><h2 class="title"><span itemprop="name">{{product.name}}</span></h2></a>
          <br>
          <div class="content">
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="RUB"/>
              <p>Цена: <span itemprop="price"
                             [attr.content]="product.price">{{product.price | currency:'RUB':'symbol'}}</span></p>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition"/>
              <link itemprop="availability" href="https://schema.org/InStock">

            </div>
            <a [routerLink]="product.url"><p>Подробнее...</p></a>
          </div>
          <div itemprop="description" class="media-footer">{{product.description}}</div>
          <div>
            <button type="button"
                    class="add-to-cart"
                    *ngIf="!(productInCart(product) | async)"
                    (click)="addProductToCart(product)">В корзину
            </button>
            <button type="button"
                    class="in-cart"
                    *ngIf="productInCart(product) | async"
                    routerLink="/order">В корзине
            </button>
            <button type="button"
                    class="remove-from-cart"
                    *ngIf="productInCart(product) | async"
                    (click)="removeProductFromCart(product)">Удалить из корзины
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
