<div itemscope itemtype="http://schema.org/Organization">
  <h1 class="title">Контакты</h1>
  <p>ООО "<span itemprop="name">Кассар</span>"</p>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" >
    <p><span itemprop="postalCode">107031</span>,
      г.<span itemprop="addressLocality">Москва</span>,
    <span itemprop="streetAddress"> Театральный проезд, д.3</span></p>
  </div>
  <p>Тел.: <span itemprop="telephone">+74994081130</span></p>
  <p>email: <span itemprop="email">info@kassar.ru</span></p>
</div>
<h3>Карта проезда</h3>
<div #gmap style="width:100%;height:400px"></div>

