<h1>Услуги</h1>
<p>
  Наша компания оказывает услуги по установке, настройке и дальнейшему техническому обслуживанию контрольно-кассового оборудования.
</p>
<h2>Настройка</h2>
<p>Настройка оборудования включает в себя доставку, первоначальную настройку оборудования под ваши задачи.</p>
<h2>Регистрация ФН (фискальный накопитель)</h2>
<p>Создание почтового ящика, Регистрация в кабинете ФНС, Регистрация в кабинете ОФД, регистрация ККТ, обучение работе с ККТ</p>
<h2>Техническое обслуживание</h2>
<p>Техническое обслуживание включает в себя постпродажное гарантийное и постгарантийное обслуживание....</p>
<h2>Получение ЭЦП (электронная цифровая подпись)</h2>
<p>Получение электронно-цифровой подписи включает в себя получение ЭЦП на вашу компанию.</p>
<h2>Программирование номенклатуры</h2>
<p>Занесение в базу данных групп товаров или услуг</p>
<h2>Снятие ККТ с учета (при исправном аппарате)</h2>
<p>Проведение работ по снятию контрольно кассовой техники с учета</p>
<h2>Перерегистрация ККТ</h2>
<p>Проведение работ по перерегистрации контрольно-кассовой техники</p>
<h2>Прайслист на услуги</h2>
<a routerLink="pricelist"><p>Прайслист на услуги</p></a>
