.bottom {
  background-color: #222628;
  color: #acacac;
  padding: 50px 15px 50px 15px;
}

.bottom > .col1 { grid-area: c1; }
.bottom > .col2 { grid-area: c2; }
.bottom > .col3 { grid-area: c3; }
.bottom > .col4 { grid-area: c4; }

.bottom {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "c1"
    "c2"
    "c3"
    "c4";
}

@media (min-width: $grid-breakpoints-md) {
  @supports(display: grid ) {
    .bottom {
      padding: 50px 50px 50px 70px;
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "c1 c2 c3 c4";
    }
  }
}
