.dropdown i {
  margin-left: 3px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  @media screen and (min-width: $grid-breakpoints-md) {
    position: relative;
    display: inline-block;
  }
}

.dropdown-content {
  .dropdown-item {
    color: #FFFFFF;

      :after {
        content: ">";
      }
  }
  .dropdown-item.active {
    color: $active-color;
  }

  @media screen and (min-width: $grid-breakpoints-md) {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 89px;
    left: 10px;
   /* -webkit-animation: spMenuFadeInUp 1500ms;
    animation: spMenuFadeInUp 1500ms;*/
    .dropdown-item {
      color: #000000;
    }
    .dropdown-item:hover {
      background-color: rgba(223, 223, 223, 0.55);
    }
  }
}

.dropdown-content a {
  color: black;
  padding: 5px 25px;
  text-decoration: none;
  display: block;
  @media screen and (min-width: $grid-breakpoints-md) {
    padding: 12px 16px;
  }
}

.dropdown>a {
  @media screen and (min-width: $grid-breakpoints-md) {
    line-height: 90px;
  }
}

.dropdown a:hover {
  color: #d70b26;
  @media screen and (min-width: $grid-breakpoints-md) {
    background-color: initial;
    color: #d70b26;
  }
}

.show {
  display:block;
  @media screen and (min-width: $grid-breakpoints-md) {
    -webkit-animation: spMenuFadeIn 800ms;
    animation: spMenuFadeIn 800ms;
  }
}

@-webkit-keyframes spMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes spMenuFadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
