.footer {
  padding: 15px;
  background-color: #1b1b1b;
  color: #acacac;
  line-height: $footer-height;
}

.sp-copyright > a{
  color: rgba(255,255,255,0.9);;
  text-decoration: none;
}

@media screen and (min-width: $grid-breakpoints-lg) {
  .sp-copyright {
    margin: 15px;
    margin-left: 50px;
  }
}
