.header {
  background-color: #151517;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}

.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  #offcanvas-toggler {
    display: block;
    float: right;
    margin-left: 15px;
    font-size: 18px;
  }

  #offcanvas-toggler >i {
    color: #848484;
  }

  #offcanvas-toggler >i:hover {
    color: $active-color;
  }

  @media (min-width: $grid-breakpoints-sm) {
    flex-direction: row;
    //position: fixed;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px;
  }
  @media (min-width: $grid-breakpoints-md) {
    flex-direction: row;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    #offcanvas-toggler {
      display: none !important;
    }
  }
  @media (min-width: $grid-breakpoints-lg) {
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

}

.logo-link {
  display: block;
  &:hover {
    opacity: .7;
  }
}

.logo-image {
  display: block;
  //width: 100px;
  height: 50px;
}
