.module {
  //margin-bottom: 5px;
  .title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 25px 0 30px;
    padding: 0 0 14px;
    position: relative;
  }
  .title:before {
    position: absolute;
    content: "";
    //z-index: -1;
    left: 0;
    top: auto;
    bottom: 0;
    right: auto;
    width: 60px;
    height: 2px;
    z-index: 0;
    background: $active-color;
  }
}

.news {
  margin-top: 25px;

  @media (min-width: $grid-breakpoints-sm) {
    margin-top: 40px;

  }
}
