$background-color: rgb(196, 196, 196) !default;
$white:    #fff !default;
$active-color: #d6253f!default;

$font-family: 'Open Sans', 'sans-serif';
$container-max-widths: 1170px;

$header-height: 90px;
$footer-height: 50px;

// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$grid-breakpoints-sm: map-get($grid-breakpoints, "sm") !default;
$grid-breakpoints-md: map-get($grid-breakpoints, "md") !default;
$grid-breakpoints-lg: map-get($grid-breakpoints, "lg") !default;
$grid-breakpoints-xl: map-get($grid-breakpoints, "xl") !default;

