<h1>Оборудование</h1>
<p>Мы предлагаем широкий спектр контрольно-кассовой техники (ККТ) различных производителей. Основными позициями являются
  онлайн кассы компании Кампей Кассатка. Данные онлайн кассы работают на опрационной системе Android и обладают удобным
  функционалом, надежностью, удобством в работе и своевременными обновлениями программного обеспечения.
</p>
  <div>
    <a routerLink="kontrolno-kassovaya-tekhnika">Контрольно-кассовая техника</a>
  </div>
  <div>
    <a routerLink="skanery-shtrikh-kodov">Сканеры</a>
  </div>
<div>
  <a routerLink="prochee">Прочее</a>
</div>


