<h1>Услуги</h1>
  <p>
    Наша компания оказывает услуги по установке, настройке и дальнейшему техническому обслуживанию контрольно-кассового оборудования.
  </p>
  <h2>Настройка</h2>
  <p>Настройка оборудования включает в себя доставку, первоначальную настройкуу оборудования...</p>
  <h2>Подключение к ОФД</h2>
  <p>Подключение к ОФД включает в себя...</p>
  <h2>Техническое обслуживание</h2>
  <p>Техническое обслуживание включает в себя постродаженое гарантийное и постгарантийное обслуживание....</p>
