<div class="main-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Kassar Office</h1>
    <span class="spacer"></span>

    <span class="example-app-name">v0.1.0</span>
    <button mat-button (click)="onLogout()">Выход</button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Главная</a>
        <a mat-list-item routerLink="/articles" routerLinkActive="active">Статьи</a>
        <a mat-list-item routerLink="/cart" routerLinkActive="active">Магазин</a>
        <a mat-list-item routerLink="/contracts" routerLinkActive="active">Договора</a>
        <a mat-list-item routerLink="/clients" routerLinkActive="active">Клиенты</a>
        <a mat-list-item routerLink="/agents" routerLinkActive="active">Агенты</a>
        <a mat-list-item routerLink="/site" routerLinkActive="active">Сайт</a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active">Настройки</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
