<!--The content below is only a placeholder and can be replaced.-->
  <div ></div>
<div class="wrapper">
  <section class="top-bar">
    <div class="top1">
      <ul class="social-icons">
        <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="top2">
      <ul class="sp-contact-info">
        <li class="sp-contact-phone">
          <i class="fa fa-phone"></i> <a href="tel:+74994081130">+7 499 4081130</a>
        </li>
        <li class="sp-contact-email">
          <i class="fa fa-envelope"></i> <a href="mailto:info@kassar.ru">info@kassar.ru</a>
        </li>
      </ul>
    </div>
    </section>
  <header class="header">
    <div class="header--inner">
      <div class="logo" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="http://kassar.ru/" class="logo--link">
          <img itemprop="logo" class="logo--image" src="./assets/kassar-logo.svg" alt="Компания Кассар, онлайн кассы России"/>
        </a>
      </div>
      <nav class="nav" id="sidebar-menu">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav--link" onclick="document.getElementById('sidebar-menu').classList.remove('open')">Главная</a>
        <a routerLink="company/about" routerLinkActive="active" class="nav--link" onclick="document.getElementById('sidebar-menu').classList.remove('open')">О нас</a>
        <a routerLink="news" routerLinkActive="active" class="nav--link" onclick="document.getElementById('sidebar-menu').classList.remove('open')">Новости</a>
        <a routerLink="catalog" routerLinkActive="active" class="nav--link" onclick="document.getElementById('sidebar-menu').classList.remove('open')">Каталог</a>
        <a routerLink="services" routerLinkActive="active" class="nav--link" onclick="document.getElementById('sidebar-menu').classList.remove('open')">Услуги</a>
        <a routerLink="company/contacts" routerLinkActive="active" class="nav--link" onclick="document.getElementById('sidebar-menu').classList.remove('open')">Контакты</a>
      </nav>
      <a id="offcanvas-toggler"  onclick="document.getElementById('sidebar-menu').classList.toggle('open')"><i class="fa fa-bars"></i></a>
    </div>
  </header>
  <aside class="sidebar">
    <h2>Топ продаж</h2>
    <ul>
      <li><a routerLink="catalog/kontrolno-kassovaya-tekhnika/kassatka-7">Кассатка 7</a></li>
      <li><a routerLink="catalog/kontrolno-kassovaya-tekhnika/kassatka-mini">Кассатка mini</a></li>
      <li><a routerLink="catalog/kontrolno-kassovaya-tekhnika/kassatka-10">Кассатка 10</a></li>
    </ul>
  </aside>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <section id="contacts" class="bottom">
    <div class="col1">
      <div class="module">
        <h2 class="title">О компании</h2>
        <p>ООО "Кассар" осуществляет системную интеграцию контролько-кассового оборудования.</p>
      </div>
    </div>
    <div class="col2">
      <div class="module">
        <div itemscope itemtype="http://schema.org/Organization">
          <h2 class="title">Контакты</h2>
          <p>ООО "<span itemprop="name">Кассар</span>"</p>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" >
            <p><span itemprop="postalCode">107031</span>,
            г.<span itemprop="addressLocality">Москва</span></p>
            <p><span itemprop="streetAddress"> Театральный проезд, д.3</span></p>
          </div>
          <p class="bt-contact-info">
            <i class="fa fa-phone"></i>
            <span itemprop="telephone"><a href="tel:+74994081130"> +7 499 4081130</a></span>
          </p>
          <p class="bt-contact-info">
            <i class="fa fa-envelope"></i>
            <span itemprop="email"><a href="mailto:info@kassar.ru"> info@kassar.ru</a></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col3">
      <div class="module">
        <h2 class="title">Рабочее время</h2>
        <p>Пн-Пт. 10 - 18 часов</p>
        <p>Сб-Вс. 10 - 15 часов</p>
      </div>
    </div>
    <div class="col4">
      <div class="module news">
        <h2>Подписка</h2>
        <p>Подпишитесь на наши обновления</p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <span class="sp-copyright">© 2017 Кассар. All Rights Reserved. Designed By <a href="https://teletac.com">Teletac</a></span>
  </footer>
</div>

