<div class="">
  <h2>Способ и адерс доставки</h2>
  <div class="conf-row">
    <h5 class="choice-delivery danger"
        *ngIf="(cart | async).deliveryOptionId === undefined">Проверьте свой заказ и выберите способ доставки...</h5>
    <h5 class="choice-delivery success"
        *ngIf="(cart | async).deliveryOptionId !== undefined">Способ доставки выбран...</h5>
    <button class="choice-confirmation"
            [attr.disabled]="(cart | async).deliveryOptionId !== undefined && customerForm.form.valid ? null : true"
            (click)="confirmedCart()">Оплатить
    </button>
  </div>
  <hr/>
  <div class="option"
       *ngFor="let option of deliveryOptions | async">
    <div class="radio-div">
      <input type="radio"
             name="delivery_option"
             id="{{option.name}}"
             [checked]="option.id === (cart | async).deliveryOptionId"
             (click)="setDeliveryOption(option)">
    </div>
    <div class="label-div">
      <label class="js-option-name" for="{{option.name}}" (click)="setDeliveryOption(option)">{{option.name}}</label>
    </div>
    <div class="price-div">
      {{option.price | currency:'RUB':'symbol'}}
    </div>
    <div class="description-div">
      {{option.description}}
    </div>
  </div>
  <h3>Кто заберет товары</h3>
  <form class="form" #customerForm="ngForm">
    <div class="form-group">
      <label for="fio">Введите ФИО:</label>
      <ngx-da-data id="fio" placeholder="Как к вам обращаться" [config]="configFio" [(ngModel)]="model.fio" (selected)="onFioSelected($event)" name="fio"></ngx-da-data>
    </div>
    <!--<div class="form-group">
      <label for="lastname">Фамилия</label>
      <input class="input" id="lastname" type="text" placeholder="Фамилия" [(ngModel)]="model.lastName" name="lastname"
             #lastname="ngModel" minlength="3" pattern="[а-яА-Я ]*" required>
      <div [hidden]="lastname.valid || lastname.pristine"
           class="alert alert-danger">
        Фамилия обязательна
      </div>
    </div>
    <div class="form-group">
      <label for="firstname">Имя</label>
      <input id="firstname" type="text" placeholder="Имя" [(ngModel)]="model.firstName" name="firstname"
             #firstname="ngModel" minlength="3" pattern="[а-яА-Я ]*" required>
      <div [hidden]="firstname.valid || firstname.pristine"
           class="alert alert-danger">
        Имя обязательно
      </div>
    </div>-->
    <div class="form-group">
      <label for="phone">Телефон:</label>
      <input id="phone" type="tel" placeholder="+79161234567" [(ngModel)]="model.phone" name="phone" #phone="ngModel"
             pattern="^((\+7|7|8)+([0-9]){10})$" required>
      <div [hidden]="phone.valid || phone.pristine"
           class="alert alert-danger">
        Телефон обязателен
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" value="" placeholder="info@example.ru" [(ngModel)]="model.email" name="email"
             #email="ngModel" email="true" required>
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Email обязателен
      </div>
    </div>
    <div *ngIf="(cart | async).deliveryOptionId == 2">
      <h3>Адрес доставки</h3>
      <div class="form-group">
        <label for="address">Адрес:</label>
        <ngx-da-data id="address" placeholder="Ведите точный адрес" [config]="configAddress" [(ngModel)]="model.address.full" (selectedString)="onChange($event)" name="address"></ngx-da-data>
      </div>
      <div class="form-group">
        <label for="city">Подъезд:</label>
        <input class="input" id="city" type="text" placeholder="Введите подъезд" [(ngModel)]="model.address.city" name="city"
               #city="ngModel" minlength="3" pattern="[а-яА-Я ]*">
        <div [hidden]="city.valid || city.pristine"
             class="alert alert-danger">
          Город обязателен
        </div>
      </div>
      <div class="form-group">
        <label for="street">Этаж:</label>
        <input class="input" id="street" type="text" placeholder="Введите этаж" [(ngModel)]="model.address.street"
               name="street"
               #street="ngModel" minlength="3" pattern="[а-яА-Я ]*">
        <div [hidden]="street.valid || street.pristine"
             class="alert alert-danger">
          Улица обязательна
        </div>
      </div>
      <div class="form-group">
        <label for="building">Код домофона:</label>
        <input class="input" id="building" type="text" placeholder="Введите код домофона"
               [(ngModel)]="model.address.building" name="building"
               #building="ngModel" minlength="3">
        <!--<div [hidden]="building.valid || building.pristine"
             class="alert alert-danger">
          Здание обязательно
        </div>-->
      </div>

    </div>
  </form>
  <br>
<!--  <div #gmap style="width:100%;height:400px"></div>-->
  <div [hidden]="(cart | async).deliveryOptionId != 2" #ymap id="map" style="width:100%; height: 400px"></div>
  <hr/>
  <br>
  <button class="choice-confirmation"
          [disabled]="(cart | async).deliveryOptionId !== undefined && customerForm.form.valid ? null : true"
          (click)="confirmedCart()">Оплатить
  </button>
</div>



