<div class="">
  <h2>Способ и адерс доставки</h2>
  <div class="conf-row">
    <h5 class="choice-delivery danger"
        *ngIf="(cart | async).deliveryOptionId === undefined">Проверьте свой заказ и выберите способ доставки...</h5>
    <h5 class="choice-delivery success"
        *ngIf="(cart | async).deliveryOptionId !== undefined">Способ доставки выбран...</h5>
    <button class="choice-confirmation"
            [attr.disabled]="(cart | async).deliveryOptionId !== undefined && customerForm.form.valid ? null : true"
            (click)="confirmedCart()">Оплатить
    </button>
  </div>
  <hr/>
  <div class="option"
       *ngFor="let option of deliveryOptions | async">
    <div class="radio-div">
      <input type="radio"
             name="delivery_option"
             id="{{option.name}}"
             [checked]="option.id === (cart | async).deliveryOptionId"
             (click)="setDeliveryOption(option)">
    </div>
    <div class="label-div">
      <label class="js-option-name" for="{{option.name}}" (click)="setDeliveryOption(option)">{{option.name}}</label>
    </div>
    <div class="price-div">
      {{option.price | currency:'RUB':'symbol'}}
    </div>
    <div class="description-div">
      {{option.description}}
    </div>
  </div>
  <h3>Кто заберет товары</h3>
  <form class="form" #customerForm="ngForm">
    <div class="form-group">
      <label for="fio">Введите ФИО:</label>
      <ngx-da-data id="fio" name="fio" placeholder="Как к вам обращаться" [config]="configFio" [(ngModel)]="model.fio" (selected)="onFioSelected($event)"></ngx-da-data>
    </div>
    <div class="form-group">
      <label for="phone">Телефон:</label>
      <input type="tel" id="phone" name="phone" placeholder="+79161234567" [(ngModel)]="model.phone" #phone="ngModel"
             pattern="^((\+7|7|8)+([0-9]){10})$" autocomplete="tel" required />
      <div [hidden]="phone.valid || phone.pristine"
           class="alert alert-danger">
        Телефон обязателен
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="" placeholder="info@example.ru" [(ngModel)]="model.email"
             #email="ngModel" email="true" autocomplete="email" required />
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Email обязателен
      </div>
    </div>
    <div *ngIf="(cart | async).deliveryOptionId == 2">
      <h3>Адрес доставки</h3>
      <div class="form-group">
        <label for="full">Адрес:</label>
        <ngx-da-data id="full" name="full" placeholder="Ведите точный адрес" [config]="configAddress" [(ngModel)]="model.address.full" (selectedString)="onSuggestionSelected($event)" ></ngx-da-data>
      </div>
      <div class="form-group">
        <label for="entrance">Подъезд:</label>
        <input class="input" id="entrance" type="text" placeholder="Введите подъезд" [(ngModel)]="model.address.entrance" name="entrance"
               #entrance="ngModel" />
        <div [hidden]="entrance.valid || entrance.pristine"
             class="alert alert-danger">
          Город обязателен
        </div>
      </div>
      <div class="form-group">
        <label for="floor">Этаж:</label>
        <input class="input" id="floor" type="text" placeholder="Введите этаж" [(ngModel)]="model.address.floor"
               name="floor"
               #floor="ngModel" />
        <div [hidden]="floor.valid || floor.pristine"
             class="alert alert-danger">
          Улица обязательна
        </div>
      </div>
      <div class="form-group">
        <label for="code">Код домофона:</label>
        <input class="input" id="code" type="text" placeholder="Введите код домофона"
               [(ngModel)]="model.address.code" name="code"
               #code="ngModel" minlength="3">
        <!--<div [hidden]="building.valid || building.pristine"
             class="alert alert-danger">
          Здание обязательно
        </div>-->
      </div>

    </div>
  </form>
  <br>
  <div [hidden]="(cart | async).deliveryOptionId != 2" #ymap id="map" style="width:100%; height: 400px"></div>
  <hr/>
  <br>
  <button class="choice-confirmation"
          [disabled]="(cart | async).deliveryOptionId !== undefined && customerForm.form.valid ? null : true"
          (click)="confirmedCart()">Оплатить
  </button>
</div>



