input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type=radio] {
  bottom: 2px;
}

label, .input {
  display: block;
}

@media screen and (min-width: 360px) {
  .option{
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: 50px 1fr 100px;
    .table-row {
      .radio-div {
      }
      .label-div {
      }
      .price-div {
      }
    }
    .description-div {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  .form {
    .form-group {
      display: grid;
      grid-template-columns: 100px 200px;
      margin-bottom: 10px;
      label{

      }
      .input {

      }
      .alert {

      }
      .alert-danger {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 5px;
        color: #8d0000;
        background-color: rgba(229, 37, 60, 0.29);
      }
    }
  }
}



.product_image {
  width: 150px;
}

.choice-delivery {

}

.danger {
  color: #b12704;
}

.success {
  color: #5d8b00;
}

.conf-row {
  margin: 15px 0;
}

button[disabled]{
  opacity: .25;
  cursor: not-allowed;
}

.choice-confirmation {
  border-radius: 4px;
  background-color: #5d8b00;
  padding: 0.5rem 1.5rem;
  color: #fff;
  cursor: pointer;
}
.choice-confirmation:hover{
  background-color: #22bb5b;
}

.empty-cart {
  padding: 0.5rem 1.5rem;
  background-color: #767676;
  color: #fefefe;
  cursor: pointer;
  border-radius: 4px;
  //display: block;
  /*width: 100%;
  margin-right: 0;
  margin-left: 0;*/
}
.empty-cart:hover{
  background-color: #5e5e5e;
  color: #fefefe;
}

.continue-shopping {
  background-color: #ffae00;

  color: #0a0a0a;
  border-radius: 4px;
  vertical-align: bottom;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-size: .9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  padding: .85em 1em;
}
.continue-shopping:hover {
  background-color: #cc8b00;
}
.small{
  width: 83.33333%;
  //margin-right: auto;
  //margin-left: auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
