<h1>Сервисный центр</h1>
<p>
  Мы производим сервисное обслуживание всех типов контролько-кассовых аппаратов представленых на рынке.
</p>
<h2>Квалифицированное сервисное обслуживание кассовых аппаратов</h2>
<p>Кассовые аппараты требуют регулярного технического обслуживания для избежания его непредвиденной поломки. ККМ
  используемые для обслуживание торговой деятельности, часто подвергаются большим нагрузкам (технологическим и
  природно-климатическим), которые могут привести к неработоспособности кассовой машины. Поэтому, требуется регулярное
  техническое обслуживание ККМ со стороны квалифицированных сервисных центров.</p>
<h2>Заключение договора о сервисном обслуживании контрольно-кассовых машин</h2>
<p>При приобретении контрольно-кассовой техники вы можете не только проходить процедуру регистрации в ИФНС, но и
  заключать договора на обслуживание
  с ЦТО (центром технического обслуживания). Такой порядок обеспечивает нормальное функционирование кассовых аппаратов
  на протяжении всего срока их службы и
  повышение их технологических возможностей. На ЦТО при этом возлагаются обязанности устранения текущих неисправностей
  ККТ и проведение работ профилактического характера.</p>
<h2>Обслуживание контрольно-кассовых машин в ЦТО компании Кассар</h2>
<p>Компания «Кассар» не только реализует кассовые устройства и периферийное оборудование российской и иностранной
  сборки для торговли и банковского бизнеса, но и распологает современным центром технического обслуживания.
  Данное подразделение компании обеспечено профессионально подготовленными специалистами, эффективным оборудованием, что
  дает возможность быстро и качественно обслуживать кассовые аппараты любой степени сложности. Оптимальная
  организационная структура центра позволяет максимально возможно удешевить его услуги, сделать их доступными и не
  обременительными для бизнеса с различными финансовыми возможностями.</p>
<p>Компания предлагает услуги по бесплатному предоставлению учетных форм (журнала кассира и вызовов специалистов ЦТО),
  активации блока фискальной памяти и освидетельствованию на соответствие эталонной ККМ.
  Кроме технического обслуживания кассовых машин специалисты компании осуществляют консультационные услуги, что дает
  возможность предпринимателям повысить эффективность использования ККТ.</p>
<h2>Прайслист на услуги ЦТО</h2>
<table>
  <thead>
  <tr>
    <th>Обслуживание ККТ</th>
    <th>1-2</th>
    <th>3-5</th>
    <th>6 и более</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Кассовый аппарат</td>
    <td>500</td>
    <td>400</td>
    <td>380</td>
  </tr>
  <tr>
    <td>Фискальные регистраторы</td>
    <td>700</td>
    <td>550</td>
    <td>500</td>
  </tr>
  <tr>
    <td>Марка-пломба</td>
    <td colspan="3">700</td>
  </tr>
  <tr>
    <td>Замена ФН</td>
    <td colspan="3">1000</td>
  </tr>
  <tr>
    <td>Журнал учета вызовов технических специалистов и регистрации выполненных работ (КМ-8)</td>
    <td colspan="3">Бесплатно</td>
  </tr>
  <tr>
    <td>Журнал кассира-операциониста (форма КМ-4)</td>
    <td colspan="3">Бесплатно</td>
  </tr>
  <tr>
    <td>Ввод в эксплуатацию (активация фискальной памяти и ЭКЛЗ)</td>
    <td colspan="3">Бесплатно</td>
  </tr>
  <tr>
    <td>Обращение в службу горячей поддержки по телефону</td>
    <td colspan="3">Бесплатно</td>
  </tr>
  </tbody>
</table>
